body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	height: 100vh;
}

/*.dataTables tbody tr {
min-height: 30px;  or whatever height you need to make them all consistent 
}*/

.category {
	text-transform: lowercase;
}

/*table {
	width: 80%;
} */

td {
	border-left: 2px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
	border-right: 2px solid #e1e8ed;
	text-align: left;
	/*padding: 5px 0px;*/
	color: rgba(49, 49, 50, 0.7);
}

th {
	text-align: left;
	/*padding: 20px;*/
	background-color: #e1e8ed;
	color: rgba(49, 49, 50, 0.7);
}
tbody {
	border-bottom: 2px solid #e1e8ed;
}

#results {
	width: 95%;
	margin: 0 auto;
	text-align: center; 
	/*margin: 5em 0;*/
}

.buttons {
	margin: 5em 0;
}

#balance-and-header {
	position: relative;
	padding: 3.5em;
	text-align: center;
	height: 25%;
	background-image: linear-gradient(91deg, #13547a, #468e9e);
}

.clearfix {
	overflow: auto;
}

button {/* Green */
    border: 2px solid #13547a;
    border-radius: 5px;
    color: #13547a;
    padding: 15px 32px;
    text-align: center;
    line-height: 1.5em;
    background: transparent;
    font-weight: light;
    letter-spacing: .2em;
    display: inline-block;
    font-size: 1.3em;
    margin: 0 3em;
    cursor: pointer;
    transition: color .3s, background-image .3s, opacity .3;
    opacity: .7;
}

button:hover,
button.active {
	background-image: linear-gradient(91deg, #13547a, #468e9e);
	color: #fff;
	border: 2px solid #fff;
	opacity: 1;
}

#reset {
	margin-top: 3em;
}

#balance-title {
	color: #fff;
	letter-spacing: .3em;
	font-size: .9em;
}
#balance-amount {
	font-size: 2.5em;
	color: #fff;
	font-weight: 300;
}

.person {
	position: absolute;
	left: 2.5em;
	top: 1.2em;
	text-align: left;
}

.date-and-time {
	position: absolute;
	right: 2.5em;
	top: 1.2em;
	text-align: right;
}

.person,
.date-and-time {
	color: #fff;
	font-size: 1.4em;
}
.person p,
.date-and-time p {
	font-weight: 300;
}

.person span,
.date-and-time span {
	font-size: 1.5em;
}